@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
input{
  background-color: black;
  color: #fff;
  width: 100%;
  padding: 5px;
 border: 0;
border-bottom: 1px solid white;
margin-bottom: 30px;
font-size: 24px;
outline: none;
font-family: 'Inter', sans-serif;
font-weight: 300;

}
.form{
  padding: 100px 200px;
}
h1{
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
}
.btn{
  font-size: 22px;
  padding: 10px 40px;
  margin-top: 20px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}
